# out/
out/**

# performance analysis reports
reports/**

# configuration directories
test/.venv/**

# configuration
.vscode/**

# temprary files
tmp/**

# Python bytecode cache files
python/cudakernels/__pycache__/**\

docs/api-setup-sgemm-block-tiling-v1-kernel-fancy-popcorn.md
docs/sgemm_v1_template_params.md